<div class="highlights">
		<% data.items.map(item => { %>
		<div class="highlight-item">
			<div class="highlight-item__icon">
				<img src="<%-item.icon%>">
			</div>
			<div class="highlight-item__count"><%-item.icon%></div>
			<div class="highlight-item__title"><%-item.title%></div>
		</div>
		<% }) %>
	</div>