<div class="menu-reel">
    <div class="reel">
        <nav class="reel-content" id="reel">
            <% data.filter(slide => slide.menuTitle).forEach((slide, index) => { %>
                <a 
                    href="#<%-slide.id%>" 
                        class="reel-link"
                    data-state="<%-slide.id === 1 && 'active'%>" 
                    data-order="<%-slide.order%>"
                >
                    <span>0<%-index+1%></span>
                </a>
            <% }) %>
        </nav>
    </div>
</div>