<div class="menu-topbar">
    <a href="#index" class="menu-topbar__logo"></a>
    <nav class="menu-topbar__nav">
        <% data.filter(slide => slide.menuTitle).forEach(slide => { %>
            <li>
                <a 
                    href="#<%-slide.id%>" 
                    data-parent-id="<%-slide.parentId%>"
                    data-state="" 
                    data-order="<%-slide.order%>"
                    class="menu-topbar__link"
                >
                    <span><%-slide.menuTitle%></span>
                </a>
            </li>
        <% }) %>
    </nav>
</div>