<div class="menu-topbar">
    <div class="menu-topbar__logo"></div>
    <nav class="menu-topbar__nav">
        <% data.filter(slide => slide.menuTitle).forEach(slide => { %>
            <li>
                <a 
                    href="#<%-slide.id%>" 
                    data-state="<%-slide.id === 1 && 'active'%>" 
                    data-order="<%-slide.order%>"
                >
                    <span><%-slide.menuTitle%></span>
                </a>
            </li>
        <% }) %>
    </nav>
</div>