.priced-list {
    &__row {
        display: flex;
        > div {
            margin-right: @space*2;
        }
    }
    &__wrapper {
        min-width: @block;
        flex-grow: 1;
        flex-basis: @block;
    }
    .item {
        display: flex;
        font-size: 1.4em;
        margin: 0.7em 0;
        line-height: 1.25em;
        justify-content: space-between;
        &__title {
        }
        &__description {
            margin-left: 0;
        }
        &__volume {
            margin-right: 0;
            padding: 0 0.4em;
            margin-left: auto;
            opacity: 0.5;
            align-self: baseline;
            transform: scale(0.75);
            transform-origin: right 80%;
        }
    }
}
