@slides: "slides";
@tobacco: "../../../assets/tobacco-brands";

[data-id^="menu"] {
    .wrapper {
        width: 100%;
        height: 100%;
    }
}
[data-id="menuHookah"] {
    @size: 10em;
    .subslide {
        .slideBackgroundUrl(menuHookah-bg);
        &::after {
            background-color: rgba(0, 0, 0, 0.7);
        }
    }
    .subslide-content {
        @media screen and (max-width: 768px) {
            height: 100%;
        }
    }
    .group--tobacco {
        margin-left: @space;
    }
    .tobacco-list {
        display: flex;
        flex-wrap: wrap;

        @media screen and (max-width: 768px) and (orientation: landscape) {
            flex-wrap: nowrap;
        }

        @media screen and (max-width: 768px) {
            min-width: (@size+ @space) * 3;
        }
    }
    .tobacco-title {
        white-space: nowrap;
    }
    .tobacco-item {
        margin-right: @space;
        margin-bottom: @space;
        @media screen and (max-width: 768px) {
            margin-bottom: @pad;
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        &__icon {
            width: @size;
            height: @size;
            background-color: #000;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-size: 80% !important;
            &--al_fakher {
                .tobaccoBackgroundUrl(al_fakher);
            }
            &--adaya {
                .tobaccoBackgroundUrl(adaya);
            }
            &--starbuzz {
                .tobaccoBackgroundUrl(starbuzz);
            }
            &--fumari {
                .tobaccoBackgroundUrl(fumari);
            }
            &--darkside {
                .tobaccoBackgroundUrl(darkside);
            }
            &--tangiers {
                .tobaccoBackgroundUrl(tangiers);
            }
            &--world_original {
                .tobaccoBackgroundUrl(world_original);
            }
        }
        &__price {
            font-size: 2em;
        }
    }
    .bowl-replacement {
        margin-top: -@space / 2;

        @media screen and (max-width: 768px) {
            margin-top: 0;
        }
        font-size: 1.4em;
        font-weight: 200;
        &__item {
            margin: 0.2em 0;
        }
    }
}

[data-id="menuTea"] {
    .subslide {
        .slideBackgroundUrl(menuTea-bg);

        &::after {
            background-color: rgba(0, 0, 0, 0.7);
        }
    }
    @media screen and (max-width: 768px) and (orientation: landscape) {
        .group {
            display: flex;
            align-items: flex-start;
            h3 {
                margin-top: 0;
                margin-right: @space;
            }
        }
    }
}
[data-id="menuBar"] {
    .subslide {
        .slideBackgroundUrl(menuBar-bg);

        &::after {
            background-color: rgba(0, 0, 0, 0.7);
        }
        &::before {
            .slideBackgroundUrl(menuBar-smoke, png);
        }
    }

    @media screen and (max-width: 768px) and (orientation: landscape) {
        .group {
            display: flex;
            align-items: flex-start;
            h3 {
                margin-top: 0;
                margin-right: @space;
            }
        }
    }
}
[data-id="menuPromo"] {
    .subslide {
        .slideBackgroundUrl(menuPromo-bg);
        &::after {
            background-color: rgba(0, 0, 0, 0.7);
        }
        &::before {
            .slideBackgroundUrl(menuPromo-smoke, png);
            left: 0;
            // background-position-x: -@leftBarWidth;
        }
    }
    .promo-list {
        padding-left: @block;
        display: flex;
        flex-direction: column;

        @media screen and (max-width: 768px) {
            padding-left: 0;
        }
        @media screen and (max-width: 768px) and (orientation: landscape) {
            flex-wrap: wrap;
            flex-direction: row;
        }
    }
    .promo-item {
        @media screen and (max-width: 768px) and (orientation: landscape) {
            // flex-basis: 40%;
            flex-grow: 1;
        }
        &__title {
            margin-bottom: 0;
            margin-top: 1.4em;

            @media screen and (max-width: 768px) {
                margin-top: 1em;
                font-size: 3em;
            }
        }
        &__description {
            font-weight: 200;
            font-size: 1.2em;
        }
    }
    .cost-row {
        margin-top: @pad;
        display: flex;
    }
    .cost-item {
        margin-right: @space;
        &__title {
            font-size: 5em;
            @media screen and (max-width: 768px) {
                font-size: 4em;
            }
            .ruble {
                font-size: 0.5em;
            }
        }
        &__description {
            margin-top: -0.6em;
            font-size: 1.2em;
        }
    }
}
