<div class="about__content">
    <div class="about__title">
        <%=data.slideHeading%>
    </div>
    <div class="about__scores">
        <div class="scores-list">
            <% data.highlightes.forEach(item => { %>
                <div class="scores-list__item">
                    <div class="scores-list__icon">
                        <img src="<%-item.src%>">
                    </div>
                    <div class="scores-list__score">
                        <%-item.score%>
                    </div>
                    <div class="scores-list__title">
                        <%-item.title%>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</div>