<div class="contacts-content">
<section class="slide-title">
    <h2>Контакты</h2>
    <p><a class="contacts-phone" href="tel:+79250345831"><span>8 925 034-58-31</span></a></p>
    <p>
        <a class="contacts-address" href="geo:55.7716129,37.6810593" target="_blank">
            <span>Ул. Ладожская 5, 3-й этаж</span>
        </a><br><span>Вход через ресторан «Кружка»</span></p>
    <p><a href="mailto:smoke@shishatime.ru">smoke@shishatime.ru</a>
</section>
<div id="mapContainer"></div>
</div>