<div class="entertainment__content">
    <div class="entertainment__title">
        <%=data.slideHeading%>
    </div>
    <div class="entertainment__scores">
        
        <div class="entertainment-list">
            <% data.entertainment.forEach(item => { %>
                <div class="entertainment-list__item">
                    <div class="entertainment-list__icon entertainment-list__icon--<%-item.id%>">    
                    </div>
                    <div class="entertainment-list__title">
                        <%=item.title%>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</div>