 <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide" style="background-image:url(http://placekitten.com/600/601)"></div>
      <div class="swiper-slide" style="background-image:url(http://placekitten.com/600/602)"></div>
      <div class="swiper-slide" style="background-image:url(http://placekitten.com/600/603)"></div>
      <div class="swiper-slide" style="background-image:url(http://placekitten.com/600/604)"></div>
      <div class="swiper-slide" style="background-image:url(http://placekitten.com/600/605)"></div>
      <div class="swiper-slide" style="background-image:url(http://placekitten.com/600/606)"></div>
      <div class="swiper-slide" style="background-image:url(http://placekitten.com/600/607)"></div>
      <div class="swiper-slide" style="background-image:url(http://placekitten.com/600/608)"></div>
      <div class="swiper-slide" style="background-image:url(http://placekitten.com/600/609)"></div>
      <div class="swiper-slide" style="background-image:url(http://placekitten.com/600/610)"></div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
  </div>