<h1 class="title">
    <span class="title__type">Кальянная</span>
    <span class="title__name">Shishatime</span>
</h1>
<div class="main-features">
    <div class="feature">
        <h4 class="feature__title">Приятные бонусы</h4>
        <p class="feature__description">Каждый 6-й кальян мы дарим вам бесплатно</p>
    </div>
    <div class="feature">
        <h4 class="feature__title">Лучшие цены</h4>
        <p class="feature__description">Каждый 6-й кальян мы дарим вам бесплатно</p>
    </div>
    <div class="feature">
        <h4 class="feature__title">Знаем толк в чае</h4>
        <p class="feature__description">Каждый 6-й кальян мы дарим вам бесплатно</p>
    </div>
</div>