<div class="subslide subslide--tea">
    <div class="subslide-content">
        <div class="group">
            <h3>Чай</h3>
            <div class="priced-list__row">
                <%=data.pricedListTea1%>
                <%=data.pricedListTea2%>
                
                <% if (data.pricedListTea3.includes('item__title')) {%>
                    <%=data.pricedListTea3%>
                <% } %>
            </div>
        </div>
    </div>
</div>