<div class="subslide subslide--bar">
	<div class="group">
        <h3>Бар</h3>
        <div class="priced-list__row">
            <%=data.pricedListBar1%>
            <%=data.pricedListBar2%>
            <%=data.pricedListBar3%>
        </div>
	</div>
</div>