<div class="subslide subslide--promo">
	<% data.promo.forEach(item => { %>
		<div class="promo-item">
			<h4 class="promo-item__title"><%-item.title%></h4>
			<div class="promo-item__description"><%-item.description%></div>
			<% if (item.cost) { %>
				<% item.cost.forEach(costItem => { %>
					<div class="cost-row">
						<div class="cost-row__title">
							<%-costItem.price%><span class="ruble"></span>
						</div>
						<div class="cost-row__description">
							<%-costItem.description%>
						</div>
					</div>
				<% }) %>
			<% } %>
		</div>
	<% }) %>
</div>